body {
  background-color: rgb(255, 255, 96);
  text-align: center;
}

.burger-container {
  text-align: center;
}

li {
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background: #ff2727;
    width: 30%;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  